dfn {
  cursor: help;
  font-style: normal;
  position: relative;
}

dfn::after {
  content: attr(data-info);
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 150ms, top 150ms;
}

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 18px;}
dfn:hover::before {top: 0;}

