@import url('/css/monksco.css');
@import url('/css/highlight.css');
@import url('/css/tooltip.css');
@import url('/css/categories.css');
@import url('/css/aspect-ratio.css');
@import url('/css/grow.css');

.copy p {
  max-width: 30em;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

