@import url('https://unpkg.com/tachyons@4.0.1/css/tachyons.min.css');
@import url('https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css');
@import url('monksco.css');
@import url('highlight.css');
@import url('tooltip.css');
@import url('categories.css');
@import url('aspect-ratio.css');
@import url('grow.css');
@import url('caps.css');
@import url('spaces.css');
@import url('colors.css');

a {
  text-decoration: none;
}

span.amp {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 110%;
  font-style: italic;
}

.copy p {
  max-width: 30em;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

#resume:not(:target) { display: none; }
#resume:target { display: block; }

pre {
  overflow-x: scroll;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

