@import url('https://npmcdn.com/tachyons@4.0.1/css/tachyons.min.css');
@import url('monksco.css');
@import url('highlight.css');
@import url('tooltip.css');
@import url('categories.css');
@import url('aspect-ratio.css');
@import url('grow.css');
@import url('caps.css');
@import url('spaces.css');

.copy p {
  max-width: 30em;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

#resume:not(:target) { display: none; }
#resume:target { display: block; }

