<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <main class="pa5-ns pa0">
    <h1 class="f-headline-l f1 ph2 ph0-ns mb1">Hi! I'm
      <a href="/">Andrew Monks</a>
    </h1>

    <div class="mb5 ph2 ph0-ns">
      {% include contact.html %}
    </div>

    <div class="mv5 measure lh-copy ph2 ph0-ns">
      {% capture intro %}{% include intro.md %}{% endcapture %}
      {{ intro | markdownify }}
    </div>

    <div class="mv5 ph2 ph0-ns">Here's a <a href="/everything/">big list of everything</a> on this website.</div>

    <div class="cf"></div>

    <div class="fl-l w-33-l pr4-l">
      {% include featured.html count=8 %}
    </div>

    <div class="fl-l w-33-l pr4-l">
      {% include new.html count=8 %}
    </div>

    <div class="fl-l w-33-l pr4-l">
      {% include wip.html count=8 %}
    </div>

    <div class="cf"></div>

    <div class="pv5">
      {% include footer.html %}
    </div>
  </main>

  {% include javascript.html %}
</body>

</html>

