<!DOCTYPE html>
{% include ascii.html %}
<html>

{% include head.html %}

<body>
  <main class="pa5-ns pa0">
    <div class="h-card">
      <h1 class="f-headline-l f1 ph2 ph0-ns mb1">Hi! I'm
        <a class="p-name p-url" href="https://monks.co">Andrew Monks</a>
      </h1>

      <div class="mb5 ph2 ph0-ns">
        {% include contact.html %}
      </div>
    </div>

    <div class="mv5 measure lh-copy ph2 ph0-ns">
      {{ page.content | markdownify }}
    </div>

    <div class="mv5 ph2 ph0-ns">Here's a <a href="/everything/">big sorted list of everything</a> on this website.</div>

    <div class="cf"></div>

    <div class="fl-l w-33-l pr4-l">
      {% include featured.html count=8 %}
    </div>

    <div class="fl-l w-33-l pr4-l">
      {% include new.html count=8 %}
    </div>

    <div class="fl-l w-33-l pr4-l">
      {% include wip.html count=8 %}
    </div>

    <div class="cf"></div>

    <div class="pv5">
      {% include footer.html %}
    </div>
  </main>

  {% include javascript.html %}
</body>

</html>

