<!DOCTYPE html>
{% include ascii.html %}
<html>

{% include head.html %}

<body class="overflow-x-hidden bg-yellow">
  <main class="pa5-ns pa0 overflow-x-hidden">
    <div class="h-card">
      <h1 class="f-headline-l f2 ph2 ph0-ns mb1">Hi! I'm
        <a class="p-name p-url" href="https://monks.co">Andrew Monks</a>
      </h1>

      {% include contact.html %}
    </div>

    <div class="mv5 measure lh-copy ph2 ph0-ns">
      {{ page.content | markdownify }}
    </div>

    {% include resume.html %}

    <p class="f3 mt6 mb5 mh2 measure">There is a big list of things I have made at <a href="/everything">/everything</a>, but here are some particularly relevant projects:</p>

    {% if page.posts %}
      <div class="mw8">
        {% for slug in page.posts %}
          {% for post in site.posts %}
            {% if post.slug == slug %}
              {% include post-card.html thing=post %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    {% include footer.html %}
  </main>

  {% include javascript.html %}
</body>

</html>
