<div class="eight columns alpha noprint">
  <a href="{{ page.website }}">
    {% if page.imagetitle1 %}
      <img src="{{ page.image1 }}" alt="{{ page.title }}" title="{{ page.imagetitle1 }}" class="img-responsive" />
    {% else %}
      <img src="{{ page.image1 }}" alt="{{ page.title }}" class="img-responsive" />
    {% endif %}
  </a>
</div>
<div class="four columns alpha noprint">
  <a href="{{ page.website }}">
    {% if page.imagetitle2 %}
      <img src="{{ page.image2 }}" alt="{{ page.title }}" title="{{ page.imagetitle2 }}" class="img-responsive" />
    {% else %}
      <img src="{{ page.image2 }}" alt="{{ page.title }}" class="img-responsive" />
    {% endif %}
  </a>
</div>
<div class="four columns ">
  {{ page.text | markdownify }}
</div>
