<address id="info" class="three columns vcard offset-by-one">
  <!-- resume link -->
  <!-- <p class="noprint">
    <a href="javascript:window.print()">
      <img src="images/printer.png" alt="print" />
    </a> <a id="css-resume" href="#resume">R&eacute;sum&eacute;</a>
  </p> -->
  <p class="adr">Boston, MA &bull;
    <span class="locality">Chicago</span>,
    <span class="region">IL</span>
  </p>
  <p class="fn hide noprint">Andrew Monks</p>
  <p class="org hide noprint">Belgian Man Records</p>
  <time class="bday hide noprint">1992-09-22</time>
  <p class="tel">978-254-1779</p>
  <p><a href="mailto:a@monks.co" class="email">a@monks.co</a>
  </p>
  <p><a href="http://monks.co" class="url">http://monks.co</a>
  </p>
</address>
