{% case include.category %}
  {% when 'project' %} <i class="fa {{ include.class }} fa-star"></i>
  {% when 'website' %} <i class="fa {{ include.class }} fa-laptop"></i>
  {% when 'writing' %} <i class="fa {{ include.class }} fa-pencil"></i>
  {% when 'howto' %} <i class="fa {{ include.class }} fa-question"></i>
  {% when 'physical' %} <i class="fa {{ include.class }} fa-cube"></i>
  {% when 'graphic' %} <i class="fa {{ include.class }} fa-camera"></i>
  {% when 'music' %} <i class="fa {{ include.class }} fa-music"></i>
  {% when 'video' %} <i class="fa {{ include.class }} fa-video-camera"></i>
{% endcase %}
