<head>
  <meta charset="UTF-8" />
  <!--  meta -->
  <title>{{page.title}}</title>
  {% include facebook-meta-bullshit.html %}

  <!-- typekit -->
  <script type="text/javascript" src="//use.typekit.net/jnw4fdc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <!--  javascript -->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!--  css -->
  <link rel="stylesheet" href="/css/style.css" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
