<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <!--  meta -->
  <title>Andrew Monks</title>
  <meta name="msvalidate.01" content="BE5E85044D732A5C38594A33E7FF17DB" />
  <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
  <meta property="og:title" content="Andrew Monks" />
  <meta property="og:site_name" content="Andrew Monks" />
  <meta property="og:type" content="public_figure" />
  <meta property="og:email" content="a@monks.co" />
  <meta property="og:phone_number" content="978-254-1779" />
  <meta property="og:locality" content="Chicago" />
  <meta property="og:region" content="IL" />
  <meta property="og:postal-code" content="60657" />
  <meta property="og:country-name" content="USA" />
  <meta property="og:url" content="http://monks.co/" />
  <meta property="og:image" content="http://monks.co/images/andrew-monks.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="392" />
  <meta property="og:image:height" content="339" />
  <meta property="og:description" content="Andrew Monks makes things in Chicago, IL. He founded Belgian Man Records." />
  <meta name="description" content="Andrew Monks makes things in Chicago, IL. He founded Belgian Man Records." />


  <!-- typekit -->
  <script type="text/javascript" src="//use.typekit.net/jnw4fdc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <!--  javascript -->
  <script type="text/javascript"  src="/lib/js.min.js"></script>


  <!--  css -->
  <link rel="stylesheet" href="/lib/css.min.css" />

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
