<!--  javascript -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
<script src="//amonks.github.io/mintype/lib/mintype.min.js"></script>
<script>
  var loadGist, loadGists;

  $(function() {
    loadGists();
    return $(document).on('page:load', loadGists);
  });

  loadGists = function() {
    return $('.gist').each(function() {
      return loadGist($(this));
    });
  };

  loadGist = function($gist) {
    var callbackName, script;
    callbackName = 'c' + Math.random().toString(36).substring(7);
    window[callbackName] = function(gistData) {
      var html;
      delete window[callbackName];
      html = '<link rel="stylesheet" href="' + encodeURI(gistData.stylesheet) + '"></link>';
      html += gistData.div;
      $gist.html(html);
      return script.parentNode.removeChild(script);
    };
    script = document.createElement('script');
    script.setAttribute('src', [
      $gist.data('src'), $.param({
        callback: callbackName,
        file: $gist.data('file') || ''
      })
    ].join('?'));
    return document.body.appendChild(script);
  };
</script>
<script>
  $(document).pjax('a', '#page', {
    fragment: "#page"
  });
  var ntypediv = document.getElementById("ntype");
  var ntype = new NType(ntypediv);
  ntype.begin("monks");
</script>
