<h1>
  {% if include.thing.website %}
    <a href="{{ include.thing.website }}">{{include.thing.title}}</a>
  {% else %}
    <a href="{{include.thing.url}}">{{include.thing.title}}</a>
  {% endif %}
  {% if include.thing.github %}
    <span class="small">
      <a href="{{ include.thing.github }}">
        <img src="/images/github.png" alt="github" />
      </a>
    </span>
  {% endif %}
</h1>


{% if include.thing.tagline %}
  <h5>{{ include.thing.tagline | markdownify }}</h5>
{% endif %}

{% if include.thing.image %}
  {% if include.thing.website %}
    <a href="{{ include.thing.website }}">
      {% include image.html url=include.thing.image.url alt=include.thing.title %}
    </a>
  {% else %}
    {% include image.html url=include.thing.image.url alt=include.thing.title %}
  {% endif %}
{% endif %}

{% if include.thing.vimeo %}
  {% include vimeo.html vimeo=include.thing.vimeo 16by9=include.thing.16by9 %}
{% endif %}

{% if include.thing.bandcamp %}
  {% include bandcamp.html bandcamp=include.thing.bandcamp %}
{% endif %}

{% if include.thing.images %}
  {% include carousel.html images=include.thing.images %}
{% endif %}
