<ul class="fa-ul">
  <li>
    <a href="/">
      {% include icon.html icon="home" class="fa-li" %}Home
    </a>
  </li>
  <li>
    <a href="/everything">
      {% include icon.html icon="globe" class="fa-li" %}Everything
    </a>
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="project" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="website" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="writing" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="howto" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="physical" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="graphic" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="music" %}
  </li>
  <li>
    {% include category-link.html text=true class="fa-li" category="video" %}
  </li>
</ul>
