<code>GOTO:</code>
<ul class="list-unstyled">
  <li><a href="/"><button type="button" class="btn btn-link">Home</button></a></li>
  <li><a href="/posts"><button type="button" class="btn btn-link">Everything</button></a></li>
  <li><a href="/projects"><button type="button" class="btn btn-link">Projects</button></a></li>
  <li><a href="/writing"><button type="button" class="btn btn-link">Writing</button></a></li>
  <li><a href="/howto"><button type="button" class="btn btn-link">How-To</button></a></li>
  <li><a href="/video"><button type="button" class="btn btn-link">Video</button></a></li>
</ul>
