<ul class="fa-ul">
  <li><a href="/"><i class="fa fa-li fa-home"></i>Home</a></li>
  <li><a href="/everything"><i class="fa fa-li fa-globe"></i>Everything</a></li>
  <li><a href="/projects"><i class="fa fa-li fa-briefcase"></i>Projects</a></li>
  <li><a href="/websites"><i class="fa fa-li fa-laptop"></i>Websites</a></li>
  <li><a href="/writing"><i class="fa fa-li fa-pencil"></i>Writing</a></li>
  <li><a href="/how-to"><i class="fa fa-li fa-question"></i>How-To</a></li>
  <li><a href="/graphics"><i class="fa fa-li fa-camera"></i>Graphics</a></li>
  <li><a href="/audio"><i class="fa fa-li fa-music"></i>Audio</a></li>
  <li><a href="/video"><i class="fa fa-li fa-video-camera"></i>Video</a></li>
</ul>
