<h1>
  {% if include.thing.website %}
    <a href="{{ include.thing.website }}">{{ include.thing.title }}<!-- {% include icon.html icon="long-arrow-right" %} --></a>
  {% else %}
    {{ include.thing.title }}
  {% endif %}
  <span class="small hidden-xs">
    {% include post-icons.html thing=include.thing %}
  </span>
</h1>

<h5>
  {% if include.thing.tagline %}
    {{ include.thing.tagline | markdownify | remove: '<p>' | remove: '</p>' }}
  {% endif %}
  <span class="small hidden-sm hidden-md hidden-lg">
    {% include post-icons.html thing=include.thing %}
  </span>
</h5>

{% if include.thing.image %}
  {% if include.thing.website %}
    <a href="{{ include.thing.website }}">
      {% include image.html url=include.thing.image.url alt=include.thing.title %}
    </a>
  {% else %}
    {% include image.html url=include.thing.image.url alt=include.thing.title %}
  {% endif %}
{% endif %}

{% if include.thing.vimeo %}
  {% include vimeo.html vimeo=include.thing.vimeo 16by9=include.thing.16by9 %}
{% endif %}

{% if include.thing.bandcamp %}
  {% include bandcamp.html bandcamp=include.thing.bandcamp %}
{% endif %}

{% if include.thing.images %}
  {% include carousel.html images=include.thing.images %}
{% endif %}
