<!-- {{page.slug}} -->
<article id="{{ page.slug }}">
  <ul>
    {% if page.website %}
      <li><a href="{{ page.website }}">{{page.website}}</a></li>
    {% endif %}

    {% if page.github %}
      <li>
        <a href="{{ page.github }}">
          <img src="/images/github.png" alt="github" />
        </a>
      </li>
    {% endif %}

    {% if page.tagline %}
      <li><span class="subproject">{{ page.tagline }}</span></li>
    {% endif %}
  </ul>

  {% if page.vimeo %}
    <div class="aspect fourthree">
      <iframe src="http://player.vimeo.com/video/{{page.vimeo}}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  {% endif %}
  {{ content }}
  {{ page.content }}
</article>
