<h1>
  {% if include.thing.website %}
    <a href="{{ include.thing.website }}">{{ include.thing.title }}<!-- {% include icon.html icon="long-arrow-right" %} --></a>
  {% else %}
    {{ include.thing.title }}
  {% endif %}
  {% include post-icons.html thing=include.thing %}
</h1>

{% if include.thing.tagline %}
  <h5>
    {{ include.thing.tagline | markdownify | remove: '<p>' | remove: '</p>' }}
  </h5>
{% endif %}

{% if include.thing.media %}
  {% include media/media.html media=include.thing.media %}
{% endif %}
