<div id="resume">
  <div class="sixteen columns vcalendar">
    <h2>Education</h2>
    <p class="education vevent">I am currently
      <span class="hide noprint dtstart">2012</span>an undergraduate student in
      <abbr title="Sample classes: Database-driven Art, The Art Of Data Visualization, Algorithms + Artificial Intelligence, Fabricating For Motion">Art + Technology</abbr>at
      <span class="summary vcard">
        <abbr class="fn org" title="The School of the Art Institute of Chicago">SAIC</abbr>
      </span>, where I was awarded a merit scholarship for my work with Belgian Man Records.</p>
    <p class="education vevent">I graduated from
      <span class="vcard">
        <span class="summary fn org">Concord Carlisle Regional High School</span>
      </span>in
      <span class="dtstart">2010</span>.</p>
  </div>
  <div class="sixteen columns">
    <h2>Skills</h2>
    <p>My websites are simple and buzzword compliant (
      <span class="skill">responsive design</span>,
      <span class="skill">embedded fonts</span>,
      <span class="skill">open graph</span>,
      <span class="skill">microformats</span>,
      <span class="skill">html5</span>) because usability is my first priority. I love hand-coding HTML,
      <span class="skill">CSS</span>and
      <span class="skill">JavaScript</span>. If I need databases, nothing makes me happier than
      <span class="skill">Ruby</span> (
      <span class="skill">Sinatra</span> or
      <span class="skill">Rails</span> with
      <span class="skill">haml and sass</span>) on
      <abbr class="skill" title="Linux, Apache, MySQL">LAM</abbr>. I use
      <span class="skill">Illustrator</span> and
      <span class="skill">Photoshop</span> for images. Lately I&#8217;ve been getting into <span class="skill">Angular.js</span> and <span class="skill">node</span> a whole bunch. </p>
    <p>For
      <span class="skill">installations</span>,
      <span class="skill">video</span>, and
      <span class="skill">interactive art</span>, I use a variety of tools: I like
      <span class="skill">Max/MSP</span>, and
      <span>OpenFrameworks</span> for creative coding, and for a few years I was really into audio coding in
      <span class="skill">ChucK</span>. I&#8217;m into generating realtime video projections in
      <span class="skill">Unity3d</span> in conjunction with
      <span class="skill">MadMapper</span> and often
      <span class="skill">Jitter</span>,
      <span class="skill">CoGe</span>,
      <span class="skill">Quartz Composer</span> via Syphon and
      <abbr class="skill" title="Open Sound Control">OSC</abbr>. Lately though, most of my 3d work has been in <span class="skill">three.js</span>.</p>
    <p>I use
      <span class="skill">Ableton Live</span> for linear sound editing,
      <span class="skill">Cinema 4D</span>,
      <span class="skill">SketchUp</span>, and
      <span class="skill">Maya</span> for 3d modeling, and
      <span class="skill">After Effects</span> for linear video and compositing.</p>
  </div>
</div>
