doctype html
html
  head
    meta(charset="utf-8")
    title= title
  body
    header monks.co
    main
      article
        header
          h1= title
          h2 topics
          ul
            each topic in categories ? categories : category
              li= topic
        != contents
    footer monks.co

