<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container-fluid" id="page">
    {% include info.html %}

    {% include content.html %}
      <h1>{% include category-title.html category=page.category %} <span class="small">{{ site.categories.[page.category] | size }} posts</span></h1>
      <ul>
        {% for post in site.categories.[page.category] %}
          {% include post-li.html post=post %}
        {% endfor %}
      </ul>
      {% include bottom.html %}
    </div>
  </div>
  {% include javascript.html %}
</body>
</html>
