<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container-fluid">
    {% include section-info.html %}
      {% include info.html %}
    </section>

    {% include section-main.html %}
      <h2>{% include category-title.html category=page.category %} <span class="small">{{ site.categories.[page.category] | size }} posts</span></h2>
      <ul>
        {% for post in site.categories.[page.category] %}
          {% include post-li.html post=post %}
        {% endfor %}
      </ul>
      {% include bottom.html %}
    </section>
  </div>
</body>
{% include javascript.html %}
</html>
