<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <main class="pa5-ns pa0 cf">
    <h1 class="f-headline ph2 ph0-ns">Hi! I'm
      <a href="/">Andrew Monks</a>
    </h1>

    <div class="pb3 ph2 ph0-ns">
      {% include contact.html %}
    </div>

    <div class="measure lh-copy pv3 ph2 ph0-ns">
      {% capture intro %}{% include intro.md %}{% endcapture %}
      {{ intro | markdownify }}
    </div>

    <div class="pt5 pb3 ph2 ph0-ns">Here's a <a href="/everything/">big list of everything</a> on this website.</div>

    <div class="cf"></div>

    <div class="fl-l w-33-l pr4-l">
      {% include featured.html count=8 %}
    </div>

    <div class="fl-l w-33-l pr4-l">
      {% include new.html count=8 %}
    </div>

    <div class="fl-l w-33-l pr4-l">
      {% include wip.html count=8 %}
    </div>
  </main>

  {% include footer.html %}

  {% include javascript.html %}
</body>

</html>

