/* FONTS */
/* FONTS */
/* FONTS */

/* main */

body, h3 {
	font-family: "futura-pt", Futura, "Century Gothic", AppleGothic, sans-serif;
}
h2, h1 {
	font-family: "omnes-pro",sans-serif;
	font-style: italic;
	font-weight: 700;
}

/* specific */

#me p {
	font-size: 1.4em;
}


/* POSITIONING */
/* POSITIONING */
/* POSITIONING */

#top {
	width: 100%;
	margin-top: 4em;
	border-bottom: 1em double black;
	padding-bottom: 2em;
	display: block;
}

h1 {
	margin-bottom: .5em;
}


h2 {	
	margin-top: 1em;
	-webkit-transform-origin: 0 0;
    -moz-transform-origin:    0 0;
    -ms-transform-origin:     0 0;
    -o-transform-origin:      0 0;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	width: intrinsic;
}
.subproject {
	margin-left: .5em;
}


.project {
	margin-top: 2em;
	margin-bottom: 2em;
}

.vcard p {
	margin-bottom: 0;
}
/*
#middle img {
	width: 90%;
	margin-left: 5%;
}
*/
#middle img {
	width: 100%;
}
#bottom div {
	margin-top: 50px;
	padding-top: 20px;
}
h3 {
	display: inline;
}
#middle .sixteen {
	margin-top: 1em;
	margin-bottom: 1em;
}

#triangle img {
	width: 100%;
	height: auto;
}


/* STYLE */
/* STYLE */
/* STYLE */

.center {
	text-align: center;
}

h2:after {
	content: ":"
}

.year:before {
	content: " | " 
}

a {
	font-weight: 700;
}

#middle img {
	border: 4px double #444;
}